<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="{{ url_for('main.main', page_name='home') }}">{{ website_name }}</a>
  
            <!-- Navbar Toggle Button for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Mobile menu -->
                <ul class="navbar-nav d-lg-none">
                    {% for url, title in config['NAVIGATION_ITEMS'] %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url %}active{% endif %}" 
                               href="{{ url }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
  
                <!-- Desktop menu -->
                <ul class="navbar-nav centered d-none d-lg-flex">
                    {% for url, title in config['NAVIGATION_ITEMS'] %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url %}active{% endif %}" 
                               href="{{ url }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
